/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-Mar-2015, 16:16:43
    Author     : ifabiyi
*/

#contents
{
    margin-left: auto;
    margin-right: auto;   
    padding-bottom: 20px;
    width: 350px;
}

#titleMessage
{
    width: 356px;
    border: black;
    padding-left: 5px;
    font-family: "Calibri";
    text-align: center;
}

form
{
    text-align: center;
    border: black;
    border-style: solid;
    border-width: 1px;
    padding-left: 5px;
    width: 350px;
    
}

.loginLabel
{
    padding-bottom: 10px;
    width: 120px;
}

