/*Styling Information*/


*
{
	margin: 10px;
}

header
{
	background-color: lightblue;
	height: 110PX ;
	padding-top: 30px;
	text-align: center;
}

.navi /*This is reference to a class*/
{
	background-color: blue;
	text-align: center;
	height: 60px;
	color: white;
}


body
{
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.wrapper
{
	background-color: green;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

ul
{
	width: 700px;
	margin-right: auto;
	margin-left: auto;
}

li
{
	display: inline-block;
	width: 120px;
	background-color: white;
	margin: 0px 0px 0px 0px;
}

section
{
	float: left;
}

.imgSection
{
	background-color: #333;
	width: 70%;
}

.info
{
	width: 100%;
}

.someText
{
	background-color: #999;
	width: 30%;
}